# ============================================================
# AMBIENTE VIRTUAL PYTHON
# ============================================================

.venv/
venv/
env/


# ============================================================
# VARIÁVEIS DE AMBIENTE
# ============================================================

.env


# ============================================================
# ARQUIVOS TEMPORÁRIOS DO PYTHON
# ============================================================

__pycache__/
*.py[cod]
*$py.class

# ============================================================
# VS CODE
# ============================================================

.vscode/